In [ ]:
from IPython.display import display
from IPython.display import HTML
import IPython.core.display as di # Example: di.display_html('<h3>%s:</h3>' % str, raw=True)

# This line will hide code by default when the notebook is exported as HTML
di.display_html('<script>jQuery(function() {if (jQuery("body.notebook_app").length == 0) { jQuery(".input_area").toggle(); jQuery(".prompt").toggle();}});</script>', raw=True)

# This line will add a button to toggle visibility of code blocks, for use with the HTML export version
di.display_html('''<button onclick="jQuery('.input_area').toggle(); jQuery('.prompt').toggle();">Toggle code</button>''', raw=True)

In [ ]:
###### Test if your notebook works

In [ ]:
print("hello world")

In [ ]:
###### Import libraries

In [ ]:
import numpy as np
import pandas as pd
import scipy

In [ ]:
###### Variables

In [ ]:
# number
x = 5
y = 6
print(x + y)

# string
my_string = "python"
print(my_string)

In [ ]:
###### String operation

In [ ]:
# length of a string
len(my_string)

# concatenation
print("my " + my_string)

# coercion
print("my " + my_string + " is level " + str(x))

# visit a character: 0-index
my_string[3]
my_string[-1]

# string manipulations
my_string.upper()
my_string.replace("y", "yyyy")
my_string.find("y")

In [ ]:
###### List

In [ ]:
colors = ["red", "blue", "green"]
#print(colors)
#print(colors[0])
#print(len(colors))

# manipulation
# append at the bottom
colors.append("yellow")
print(colors)

# insert at any position
colors.insert(1, "pink")
print(colors)

# remove an element
colors.pop(1)
print(colors)

# search for an element
colors.index("green")

# quiz: what if there's duplicate
colors = ["red", "blue", "blue", "green"]
colors.index("blue")

# quiz: what about other stuff? remove duplicate?
# answer: use numpy which handles this type of stuff

In [ ]:
###### control flow

In [ ]:
# if/else. simple example
x = 10
if x == 5:
    print("Yes")
else:
    print("No")

In [ ]:
# if/else. complex example
speed = 82
mood = "bad"

if speed >= 80:
    print 'License and registration please'
    if mood == 'terrible' or speed >= 100:
        print 'You have the right to remain silent.'
    elif mood == 'bad' or speed >= 90:
        print "I'm going to have to write you a ticket."
    else:
        print "Let's try to keep it under 80 ok?"

In [ ]:
# for loop
primes = [2, 3, 5, 7]
for prime in primes:
    print(prime)

In [ ]:
# tuple
my_tuple = ("price", 5.7)
print(len(my_tuple))
print(my_tuple[1])

In [ ]:
###### numpy

In [ ]:
# create a column vector
col_vec = np.array([[1], [2]])
print col_vec
    
# create a row vector
row_vec = np.array([[1, 2]])
print row_vec
    
# create a matrix
my_matrix = np.array([[1, 2], [3, 4]])
print my_matrix
    
# inspect dimensions
shape = my_matrix.shape
print "matrix rows", shape[0], "columns", shape[1]
    
# transpose
my_matrix_t = my_matrix.transpose()
print "transposed matrix"
print my_matrix_t

# matrix calculation 
# addition
a = np.array([[1, 2], [3, 4]])
b = np.array([[1, 2], [3, 4]])
print "a + b"
print a + b

# subtraction
print "a - b"
print a - b

# multiplication (meaningless)
print "a * b"
print a * b

# matrix product
print "matrix product"
print np.dot(A, B)

# more interesting stuff:
# on 1d array, which is essentially a list.
my_array = np.array([1, 2, 3, 4])
len(my_array)
my_array.sum()
my_array.max()
my_array.mean()

# quiz:
my_array = np.array([1, 2, 2, 4, 5])
np.unique(my_array)

# other stuff:
# subset
my_array[-1]
my_array[my_array>2]

# add/remove element
np.append(my_array, 6)
np.insert(my_array, 3, 3)
np.delete(my_array, [1])

In [ ]:
###### pandas

In [ ]:
###### pandas basic

In [ ]:
df = pd.DataFrame(
    {
        "customer_id": ["A", "B", "C"],
        "date": ["5/1/2017", "5/8/2017", "5/11/2017"],
        "spend": [10, 5, 20]
    },
    #index = [1, 2, 3],
    columns = ["customer_id", "date", "spend"]
)

# describe table
df.shape

# subset columns
df["spend"]
df[["customer_id", "spend"]]

# subset rows
df.sample(n = 1)
df.head(n = 1)

In [ ]:
###### pandas data I/O

In [265]:
# from csv
file_location = "/Users/mingchang/Downloads/"
file_name = "BA501_python_data.csv"
my_data = pd.read_csv(file_location + file_name)

my_data.head(5)

,country,date,experiment_id,order_id,spend_usd,user_id,vertical
0,JP,20170402,12624548,5813140433216629693,16.138855,5006730028073359543,ANDROID_APPS
1,US,20170403,12624549,16333056276711034931,9.990000,5938685669571545259,ANDROID_APPS
2,JP,20170404,12624548,11227119161741298366,19.887087,17623708458399141713,ANDROID_APPS
3,US,20170403,12624548,11927299833124210932,19.990000,18042812344456618148,ANDROID_APPS
4,JP,20170403,12624549,11644727017708872749,88.220093,4325104700699531031,ANDROID_APPS

In [ ]:
###### pandas basic operations

In [272]:
# select columns
my_data[["user_id","date","spend_usd"]].head(5)
my_data["user_id"].head(5)
np.unique(my_data["country"])

# select rows
my_data[1:10]
my_data[(my_data.user_id == 7250841187939126009) & (my_data.country == "JP")]
my_data[["user_id","date","spend_usd"]][(my_data.user_id == 7250841187939126009) & (my_data.country == "JP")]

# create new columns
my_data['spend_usd_whole'] = my_data['spend_usd']*5
my_data.head(5)

# drop this column
my_data = my_data.drop("spend_usd_whole", axis = 1)
my_data.head(5)

,country,date,experiment_id,order_id,spend_usd,user_id,vertical
0,JP,20170402,12624548,5813140433216629693,16.138855,5006730028073359543,ANDROID_APPS
1,US,20170403,12624549,16333056276711034931,9.990000,5938685669571545259,ANDROID_APPS
2,JP,20170404,12624548,11227119161741298366,19.887087,17623708458399141713,ANDROID_APPS
3,US,20170403,12624548,11927299833124210932,19.990000,18042812344456618148,ANDROID_APPS
4,JP,20170403,12624549,11644727017708872749,88.220093,4325104700699531031,ANDROID_APPS

In [ ]:
# change data type
# change date into date format
my_data.date = pd.to_datetime(my_data.date, format='%Y%m%d')
my_data.head(4)

In [ ]:
###### Pandas SQL-like operations

In [286]:
# select *: see "select columns"

# where: see "select rows"

# Groupby: groupby()
result = my_data.groupby(["country"])["spend_usd"].sum()

result = my_data.groupby(["country"])["spend_usd"].sum().reset_index()
result = result.set_index("country")
result

# save as a new dataframe, and reset your index
# Order by: sort_values()
my_data = my_data.sort_values(['country','date'],ascending=[True, True])
my_data.head(5)

# Join: merge()
# left join
#pd.merge(left_table, right_table,how='left',on='x1')

# Union: concat(), stack()
#pd.concat([left_table, right_table])

,country,date,experiment_id,order_id,spend_usd,user_id,vertical
15381,AE,20170403,12624548,8078410735682954089,1.984784,15342218896746506117,ANDROID_APPS
22250,AE,20170404,12624549,6754390085836948239,0.977429,11276568206142884528,ANDROID_APPS
19088,AE,20170405,12624549,13528583286475944786,10.071074,10187980296635197684,ANDROID_APPS
38119,AE,20170405,12624548,18081415353723908788,0.952926,921275339006250633,ANDROID_APPS
22092,AE,20170407,12624549,18156435304744752611,0.977428,5956003464692123193,ANDROID_APPS